<div>
	<p>
		Gesture = swipedown
	</p>
</div>

<div class="row justify-content-center">
	<div class="col-sm-6">
		<div class="stack">
			<div class="stack-item" *ngFor="let item of cardItems; let idx=index">
				<div class="card" 
         [@cardAnimator]="item.animationState" 
         (@cardAnimator.done)="resetAnimationState(item)" 
         (swipedown)="swipe(item, $event.type)"
        >
					<img class="card-img-top" [src]="item.image" alt="Card image cap" draggable="false">
					<div class="card-body">
						<h5 class="card-title">{{item.name}}</h5>
						<p class="card-text">Some description about {{item.name}}</p>
						<a href="#" class="btn btn-primary">Do something</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
